body {
  background:lightblue;
  font-family:calibri;
  font-size:150%;
  font-weight:bolder;
  padding-left:75px;
  padding-right:75px;
}
td {
  align:center;
  width:80px;
  height:80px;
  border:2px solid black;
}
h1 {
  text-align:center;
}
.red {
  background:red;
}
.black {
  background:black;
}
img {
  draggable:true;
}
#software_design {
  text-align:left;
}
div {
  text-align: center;
}
